/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
  padding: 1% 1%;
  margin: 1% 1%;
  background-color: #131314;
  background-repeat: no-repeat;

}

.scoreboard {
  text-align: center;
  position: absolute;
  border: solid white;
  width: 10%;
  height: 8%;
  color: white;
}

svg {
	height: 1000;
	width: 1000;
	text-align: center;
	border: solid gray;

  background-image: url('http://bit.ly/24XU7SC');
  background-repeat: no-repeat;


}

.board {
  text-align: center;
  color: green;

}

.toggle {
  background-color: blue;
}